.category {
  margin-top: 89px;
  padding-bottom: 70px !important;
  border-bottom: 1px solid #000;
  margin-bottom: 79px;
  &_list {
    display: flex;
    margin-top: 60px;
    gap: 0 30px;
    text-align: center;
  }
  &_item {
    width: calc((100% / 6 - 15px));
    padding: 24px 51px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: all 0.5s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover {
      background-color: $red-color;
    }
    img {
      display: inline;
    }
    &-text {
      display: -webkit-box;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // margin: 0 15px;
  }
}
